.App {
    margin: 10px;
}

.main-header {
    margin: 50px 50px 0px;
}

.secondary-header {
    margin: 0px 50px 50px;
}

.control-panel {  
    display: flex;
    justify-content: center;
}

.panel-content {
    padding: 10px;

    max-width: 900px;
    width: 100%;
    min-height: 500px;
    margin: 0px 10px;
    
    background: rgba( 103, 108, 232, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.side-panel {
    align-self: flex-start;

    width: 320px;

    padding: 5px 5px;

    background: rgba( 103, 108, 232, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* From cssbuttons.io by @adamgiebl */
.panel-btn {
    min-width: 100px;
    padding: 10px 15px;
    margin: 10px 0px 0px;

    position: relative;
    display: inline-block;

    
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #5093e2;
    
    background: transparent;
    cursor: pointer;
    
    border: 2px solid #5093e2;
    box-shadow: inset 0 0 0 0 #5093e2;
    border-radius: 10px;
    transition: ease-out 0.5s;
}

.panel-btn:hover {
    color: white;
    box-shadow: inset 0 0 100px 0 #5093e2;
}

.panel-btn:active {
    transform: scale(0.9);
}

.selected {
    color: white;
    box-shadow: inset 0 0 100px 0 #5093e2;
}

.welcome-msg {
    font-size: 18px;
}